
{% extends "base.html" %}
{% load static %}

{% load bootstrap4 %}

{% block contents %}

    <!-- Page header -->
<div class="page-header">

    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold"></span>{{ page }}</h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>

{#        <div class="header-elements d-none text-center text-md-left mb-3 mb-md-0">#}
{#            <div class="btn-group">#}
{#                <button type="button" class="btn bg-indigo-400"><i class="icon-stack2 mr-2"></i> Actions</button>#}
{#                <button type="button" class="btn bg-indigo-400 dropdown-toggle" data-toggle="dropdown"></button>#}
{#                <div class="dropdown-menu dropdown-menu-right">#}
{#                    <div class="dropdown-header">Actions</div>#}
{#                    <a href="{% url 'add_ag_report' %}" class="dropdown-item"><i class="icon-plus-circle2"></i> Add Report</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
</div>
<!-- /page header -->
<div class="content pt-0">
	{% if messages %}

    {% for message in messages %}

    <div class="alert alert-success border-0 alert-dismissible">
        <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>{{ message }}.
    </div>
    {% endfor %}

    {% endif %}

    <form action="" method="post" novalidate enctype="multipart/form-data">
    {% csrf_token %}

        <!-- 2 columns form -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Upload</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<form action="#">
							<div class="row">
								<div class="col-md-6">
									<fieldset>

										<div class="form-group">
											{% bootstrap_field form.file %}
										</div>

										<div class="form-group">
											<input type="text" class="js-range-slider" name="contrast" value=""
												data-type="single"
												data-min="0"
												data-max="100"
												data-from="2"
												data-to="100"
												data-step=0.1
												data-grid="true"
											/>
										</div>

										<div class="form-group">
											<input type="text" class="js-range-slider" name="brightness" value=""
												data-type="single"
												data-min=0
												data-max=100
												data-from=2
												data-to=100
												data-step=0.1
												data-grid="true"
											/>
										</div>

									</fieldset>
								</div>

							</div>

							<div class="text-right">
								<button type="submit" class="btn btn-primary">Download<i class="download ml-2"></i></button>
								<a href="{% url 'dashboard:dashboard' %}" class="btn btn-primary">Back <i class="icon-undo ml-2"></i></a>
							</div>
						</form>
					</div>
				</div>
				<!-- /2 columns form -->
</form>
</div>
<script>
	$(".js-range-slider").ionRangeSlider({

    });
</script>
{% endblock %}