{% load static %}

<!-- Core JS files -->

<script src="{% static 'global_assets/js/main/jquery.min.js' %}"></script>
<script src="{% static 'global_assets/js/main/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/loaders/blockui.min.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/notifications/bootbox.min.js' %}"></script>
<!-- /core JS files -->

<script src="{% static 'global_assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/forms/selects/select2.min.js' %}"></script>


<!--jQuery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!--Plugin JavaScript file-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>

<!--<script src="{% static 'global_assets/js/plugins/sliders/ion_rangeslider.min.js' %}"></script>-->
<!--<script src="{% static 'global_assets/js/plugins/ui/moment/moment_locales.min.js' %}"></script>-->
<!--<script src="{% static 'global_assets/js/demo_pages/extra_sliders_ion.js' %}"></script>-->



<!-- Theme JS files -->

<script src="{% static 'global_assets/js/plugins/visualization/d3/d3.min.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/visualization/d3/d3_tooltip.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/forms/styling/switchery.min.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/ui/moment/moment.min.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/pickers/daterangepicker.js' %}"></script>

<!--<script src="{% static 'assets/js/app.js' %}"></script>-->
<script src="{% static 'global_assets/js/demo_pages/datatables_basic.js' %}"></script>
<script src="{% static 'global_assets/js/demo_pages/dashboard.js' %}"></script>
<script src="{% static 'global_assets/js/demo_charts/pages/dashboard/light/streamgraph.js' %}"></script>
<script src="{% static 'global_assets/js/demo_charts/pages/dashboard/light/sparklines.js' %}"></script>
<script src="{% static 'global_assets/js/demo_charts/pages/dashboard/light/lines.js' %}"></script>

<script src="{% static 'global_assets/js/demo_charts/pages/dashboard/light/areas.js' %}"></script>
<script src="{% static 'global_assets/js/demo_charts/pages/dashboard/light/donuts.js' %}"></script>
<script src="{% static 'global_assets/js/demo_charts/pages/dashboard/light/bars.js' %}"></script>
<script src="{% static 'global_assets/js/demo_charts/pages/dashboard/light/progress.js' %}"></script>
<script src="{% static 'global_assets/js/demo_charts/pages/dashboard/light/heatmaps.js' %}"></script>
<script src="{% static 'global_assets/js/demo_charts/pages/dashboard/light/pies.js' %}"></script>
{#<script src="{% static 'global_assets/js/demo_charts/ pages/dashboard/light/bullets.js' %}"></script>#}


<script src="{% static 'global_assets/js/demo_pages/components_modals.js' %}"></script>


<!--<script src="{% static 'global_assets/js/plugins/pickers/daterangepicker.js' %}"></script>-->
<!--<script src="{% static 'global_assets/js/plugins/pickers/pickadate/picker.js' %}"></script>-->
<!--<script src="{% static 'global_assets/js/plugins/pickers/pickadate/picker.date.js' %}"></script>-->
<!--<script src="{% static 'global_assets/js/plugins/pickers/pickadate/picker.time.js' %}"></script>-->
<!--<script src="{% static 'global_assets/js/plugins/pickers/pickadate/legacy.js' %}"></script>-->


<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>-->

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js" integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>-->


<!-- /theme JS files -->